{% extends 'basic/dashboard.html' %}

{% block content %}
{% load static %}

<html>
    <head>
        <title>Create Host</title>
        <style>
        form{
            width: 60%;
        margin-left: 500px;
        }
        span{
            font-size: 20px;
        }
        input{
            width: 275px;
        }
        </style>
    </head>
    <body>
        <form action="" method="POST" enctype='multipart/form-data'>
            {%  csrf_token %}
            <div class="col mx-5 my-5" id="frm">
                        
                        <h4>{{error}}</h4>
                        <h4>Username : <span>{{form1.username}}</span></h4> 
                        <br>
                        <h4>Email Address : <span>{{form1.email}}</span></h4>
                        <br>
                        <h4>Name : <span>{{form.name}}</span></h4>
                        <br>
                        <h4>Phone No.  : <span>{{form.Phone_no}}</span></h4>
                        <br>
                        <h4>Flat No. : <span>{{form.flat_no}}</span></h4>
                        <br>
                        <h4>No. of people  : <span>{{form.no_of_people}}</span></h4>
                        <br>
                        <h4>Password : <span>{{form1.password1}}</span></h4>
                        <br>
                        <h4>Confirm Password : <span>{{form1.password2}}</span></h4>
                        <br>
                       
                        <!-- {{form.as_p}} -->
                        <input class="btn btn-lg " type="submit" name="Submit" style="width: auto; background-color: rgb(170, 167, 167);"> 
                    
            </div>
        
        </form>
    </body>
</html>

{% endblock %}