 
{% extends 'basic/dashboard.html' %}
{% load static %}
{% block content %}

<style>
	.profile-pic{
		max-width: 250px;
		max-height:250px;
		margin: 10px;
		border-radius: 80%;
	}
</style>

<br>
<!-- <div class="container">{% for message in messages %}
	{{message}}
  {% endfor %}
</div> -->
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'userpage' %}"> &#8592; Back to Profile</a>
			<hr>
			<h3 style="text-align: center">Account Settings</h3>
			<hr>
			<img class="profile-pic" src="{{request.user.host.host_image.url}}" >
		
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
                 <h7>Name :{{form.name}}</h7><br/><br/>
                 <h7>Phone Number  :{{form.Phone_no}}</h7><br/><br/>
                 <h7>Age  :{{form.age}}</h7><br/><br/>
                 <h7>Gennder  :{{form.gender}}</h7><br/><br/> 
				 <!-- <h7>Flat no  :{{form.flat_no}}</h7><br/><br/> -->
				  <h7>No of People :{{form.no_of_people}} </h7><br/><br/> 
                 <h7>Host Image :{{form.host_image}}</h7><br/><br/>
				 <!-- {{form.as_p}} -->
			<input class="btn btn-primary" type="submit" name="Update Information">
			</form>
		</div>
	</div>
</div>



{% endblock %}